@charset "utf-8";

/* ---------------------------------- */
/* コード   (<### class="code">       */
/* CPP      (<### class="cpp">        */
/* C#       (<### class="cs">         */
/* Java     (<### class="java">       */
/* VBA      (<### class="vba">        */
/* XAML     (<### class="xaml">       */
/* ---------------------------------- */
.code, .cpp, .cs, .java, .vba, .xaml
{
  white-space:          pre;
  font-family:          monospace;
  line-height:          1.2;
  background-color:     #EEEEEE;
}

div.code, p.code,
div.cpp,  p.cpp,
div.cs,   p.cs,
div.java, p.java,
div.vba,  p.vba,
div.xaml, p.xaml
{
  border-style:         solid;
  border-width:         1px;
  border-color:         #996666;
  margin:               6px 10em 6px 0;
  padding:              0 1em 1.3em 1em;
}

span.code, 
span.cpp, 
span.cs, 
span.java, 
span.vba, 
span.xaml
{
  border-style:         solid;
  border-width:         1px;
  border-color:         #996666;
  margin:               3px;
  padding:              3px 5px;
}

/* キーワード (<kwd>) */
.code kwd,
.cpp  kwd,
.cs   kwd,
.java kwd,
.vba  kwd
{
  color:                #0000FF;
}
  
/* タグ (<tag>) */
.xaml tag
{
  color:                #0000FF;
}
  
/* 既知のクラス (<knw>) */
.code knw,
.cpp  knw,
.cs   knw,
.java knw,
.vba  knw
{
  color:                #20B0D0;
}

/* プロパティ (<prp>) */
.xaml prp
{
  color:                #20B0D0;
}

/* コメント (<cmt>) */
.code cmt,
.cpp  cmt,
.cs   cmt,
.java cmt,
.vba  cmt,
.xaml cmt
{
  color:                #009000;
}

/* リテラル (<ltr>) */
.code ltr,
.cpp  ltr,
.cs   ltr,
.java ltr,
.vba  ltr,
.xaml ltr
{
  color:                #990000;
}
