@charset "utf-8";

/* ---------------------------------- */
/* コード   (<### class="code">       */
/* CPP      (<### class="cpp">        */
/* C#       (<### class="cs">         */
/* Java     (<### class="java">       */
/* VBA      (<### class="vba">        */
/* XAML     (<### class="xaml">       */
/* ---------------------------------- */
code, .code, .cpp, .cs, .java, .vba, .xaml
{
  white-space:          pre;
  font-family:          monospace;
  font-size:            small;
  background-color:     #EEEEEE;
}

.code, .cpp, .cs, .java, .vba, .xaml
{
  line-height:          1.25;
}

div.code, div.cpp, div.cs, div.java, div.vba, div.xaml
{
  border-style:         solid;
  border-width:         1px;
  border-color:         #996666;
  margin:               6px;
  padding:              0 1em 1.25em 1em;
}

code
{
  display:              inline;
  border-style:         dotted;
  border-width:         1px;
  border-color:         #996666;
  margin:               1px 3px;
  padding:              1px 5px;
}

/* キーワード (<kwd>) */
code kwd,
.code kwd,
.cpp  kwd,
.cs   kwd,
.java kwd,
.vba  kwd
{
  color:                #0000FF;
}
  
/* タグ (<tag>) */
.xaml tag
{
  color:                #0000FF;
}
  
/* 既知のクラス (<knw>) */
code knw,
.code knw,
.cpp  knw,
.cs   knw,
.java knw,
.vba  knw
{
  color:                #20B0D0;
}

/* プロパティ (<prp>) */
.xaml prp
{
  color:                #20B0D0;
}

/* コメント (<cmt>) */
code cmt,
.code cmt,
.cpp  cmt,
.cs   cmt,
.java cmt,
.vba  cmt,
.xaml cmt
{
  color:                #009000;
}

/* リテラル (<ltr>) */
code ltr,
.code ltr,
.cpp  ltr,
.cs   ltr,
.java ltr,
.vba  ltr,
.xaml ltr
{
  color:                #990000;
}
