@charset "utf-8";

/* ---------------------------------- */
/* コード   (<### class="code">       */
/* CPP      (<### class="cpp">        */
/* C#       (<### class="cs">         */
/* Java     (<### class="java">       */
/* VBA      (<### class="vba">        */
/* XAML     (<### class="xaml">       */
/* ---------------------------------- */
.code, .cpp, .cs, .java, .vba, .xaml
{
  white-space:          pre;
  font-family:          monospace;
  line-height:          1.2;
  background-color:     #EEEEEE;
}

div.code, p.code,
div.cpp,  p.cpp,
div.cs,   p.cs,
div.java, p.java,
div.vba,  p.vba,
div.xaml, p.xaml
{
  border-style:         solid;
  border-width:         1px;
  border-color:         #996666;
  margin:               6px 10em 6px 0;
  padding:              0 1em 1.3em 1em;
}

span.code, 
span.cpp, 
span.cs, 
span.java, 
span.vba, 
span.xaml
{
  border-style:         solid;
  border-width:         1px;
  border-color:         #996666;
  margin:               3px;
  padding:              3px 5px;
}

/* キーワード (<keyword>、<kwd>) */
.code keyword, .code kwd,
.cpp  keyword, .cpp  kwd,
.cs   keyword, .cs   kwd,
.java keyword, .java kwd,
.vba  keyword, .vba  kwd,
.xaml keyword, .xaml kwd
{
  color:                #0000FF;
}
  
/* 既知のクラス (<known>、<knw>) */
.code known, .code knw,
.cpp  known, .cpp  knw,
.cs   known, .cs   knw,
.java known, .java knw,
.vba  known, .vba  knw,
.xaml known, .xaml knw
{
  color:                #20B0D0;
}

/* コメント (<comment>、<cmt>) */
.code comment, .code cmt,
.cpp  comment, .cpp  cmt,
.cs   comment, .cs   cmt,
.java comment, .java cmt,
.vba  comment, .vba  cmt,
.xaml comment, .xaml cmt
{
  color:                #009000;
}

/* リテラル (<literal>、<ltr>) */
.code literal, .code ltr,
.cpp  literal, .cpp  ltr,
.cs   literal, .cs   ltr,
.java literal, .java ltr,
.vba  literal, .vba  ltr,
.xaml literal, .xaml ltr
{
  color:                #990000;
}
