@charset "utf-8";

/* ---------------------------------- */
/* 文字サイズ                         */
/* ---------------------------------- */
/* 親要素の20% (<#### class="x20">, <x20>) */
.x20, x20 {
  font-size:            20%;
}

/* 親要素の25% (<#### class="x25">, <x25>) */
.x25, x25 {
  font-size:            25%;
}

/* 親要素の33% (<#### class="x33">, <x33>) */
.x33, x33 {
  font-size:            33%;
}

/* 親要素の50% (<#### class="x50">, <x50>) */
.x50, x50 {
  font-size:            50%;
}

/* 親要素の60% (<#### class="x60">, <x60>) */
.x60, x60 {
  font-size:            60%;
}

/* 親要素の67% (<#### class="x67">, <x67>) */
.x67, x67 {
  font-size:            67%;
}

/* 親要素の70% (<#### class="x70">, <x70>) */
.x70, x70 {
  font-size:            70%;
}

/* 親要素の75% (<#### class="x75">, <x75>) */
.x75, x75 {
  font-size:            75%;
}

/* 親要素の80% (<#### class="x80">, <x80>) */
.x80, x80 {
  font-size:            80%;
}

/* 親要素の85% (<#### class="x85">, <x85>) */
.x85, x85 {
  font-size:            85%;
}

/* 親要素の90% (<#### class="x90">, <x90>) */
.x90, x90 {
  font-size:            90%;
}

/* 親要素の95% (<#### class="x95">, <x95>) */
.x95, x95 {
  font-size:            95%;
}

/* 親要素の100% (<#### class="x100">, <x100>) */
.x100, x100 {
  font-size:            100%;
}

/* 親要素の105% (<#### class="x105">, <x105>) */
.x105, x105 {
  font-size:            105%;
}

/* 親要素の110% (<#### class="x110">, <x110>) */
.x110, x110 {
  font-size:            110%;
}

/* 親要素の120% (<#### class="x120">, <x120>) */
.x120, x120 {
  font-size:            120%;
}

/* 親要素の125% (<#### class="x125">, <x125>) */
.x125, x125 {
  font-size:            125%;
}

/* 親要素の130% (<#### class="x130">, <x130>) */
.x130, x130 {
  font-size:            130%;
}

/* 親要素の140% (<#### class="x140">, <x140>) */
.x140, x140 {
  font-size:            140%;
}

/* 親要素の150% (<#### class="x150">, <x150>) */
.x150, x150 {
  font-size:            150%;
}

/* 親要素の200% (<#### class="x200">, <x200>) */
.x200, x200 {
  font-size:            200%;
}

/* 親要素の300% (<#### class="x300">, <x300>) */
.x300, x300 {
  font-size:            300%;
}

/* 親要素の400% (<#### class="x400">, <x400>) */
.x400, x400 {
  font-size:            400%;
}

/* 親要素の500% (<#### class="x500">, <x500>) */
.x500, x500 {
  font-size:            500%;
}
